@charset "UTF-8";

/* グローバル設定 */
html {
  font-size: 100% /* =16px */
}
body {
	min-width: 320px;
	color: #333;
	background-color: #333;
	font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
img {
	max-width: 100%; /* 画像最大幅 */
	height: auto;
}
h2 {
	margin-bottom: 1em;
	font-size: 1.5em; /* =24px */
	font-weight: normal;
	color: #e62f8b;
}
p {
	font-size: 1em;
	line-height: 1.75;
}
/* ナビゲーションをヘッダーに重ねない方法 navにclass="clearfix"を追加*/
/* clearfixはフロートした要素が親要素からはみ出してしまうのを回避するもの */
/* .clearfix:after {
	content: "";
	display: block;
	clear: both;
} */

/* 外枠設定 */
.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}

/* ナビゲーション */
.nav_main {
	background-color: #333;
}
.nav_main ul {
	margin: 0;
	padding: 0;
}
.nav_main ul li {
	float: left;
	width: 25%;
	padding: 10px 0;
	letter-spacing: 0.1em;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}
.nav_main ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.nav_main ul li a:hover {
	color: #aaa;
}

/* ヘッダー */
.header_top {
	margin-top: 0;
	width: auto;
	height: 640px;
	color: #444;
	background-image: url("../images/header.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	border-bottom: solid 1px #eee;
}
.header_top h1 {
	color: #fff;
	visibility: hidden;
	margin: 0; /* h1の高さ幅要素をなしにする */
}

/* メインコンテンツ */
.main_top {
	height: auto;
	width: auto;
	margin: 20px auto 80px auto;
}
.article_top {
	padding: 40px 80px 0 80px;
}

/* フッター */
.footer_top {
	border-top: solid 1px #eee;
	width: 960px;
	height: 200px;
	display: table-cell; /* 上下左右中央設定 */
	vertical-align: middle;
	text-align: center;
}

/*Media Queries
----------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 979px) {
/* 768px - 979px用（タブレット用）の記述 */
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.header_top {
	width: 100%;
	height: 512px;
}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
/* 480px - 767px用（タブレット／スマートフォン横用）の記述 */
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.header_top {
	width: 100%;
	height: 480px;
	background-image: url("../images/header_sp.jpg");
}
.article_top {
	padding: 40px 20px;
	margin-bottom:-50px;
}
}

@media screen and (max-width: 479px) {
/* 479px以下用（スマートフォン用）の記述 */
.wrapper {
	width: 100%;
	margin: 0 auto;
}
h2 {
	font-size: 1.125em; /* =18px */
}
p {
	font-size: 0.875em; /* =14px */
}
.nav_main ul {
	padding: 10px;
}
.nav_main ul li {
	width: 100%;
	float: none;
	text-align: left;
}
.header_top {
	width: 100%;
	/* 背景の高さを自動的に合わせる方法 */
	/* paddingで領域を確保 : 表示画像の高さ ÷ 表示画像の幅 × 100 */
	height: 0;
	padding-top: 100%;
	background-image: url("../images/header_sp.jpg");
  background-size: contain;
}
.article_top {
	padding: 40px 20px;
	margin-bottom:-50px;
}
.footer_top {
	background-color: #333;
}
.footer_top .copyright {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
}
